#green {
    width: 25px;
    height: 25px;
    background:green;
}

#blue {
    width: 25px;
    height: 25px;
    background:blue;
}

#red {
    width: 25px;
    height: 25px;
    background:red;
}

#yellow {
    width: 25px;
    height: 25px;
    background:yellow;
}

#orange {
    width: 25px;
    height: 25px;
    background:orange;
}

#black {
    width: 25px;
    height: 25px;
    background:black;
}