<!-- source: https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse -->
<html>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script type="text/javascript" src="/js/canvas.js"></script>

<link rel="stylesheet" type="text/css" href="css/canvas.css">
<body onload="init('{{data}}')">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2D3047;">
      <a class="navbar-brand" href="#">gitdraw</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">hello, {{username}}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new_canvas?u={{username}}">Create a canvas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/canvas_list">Suggested canvases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
        <form action="/canvas_list" method="GET" id="search_form" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="canvas_key" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="search_form">Search</button>
        </form>
      </div>
    </nav>

    <br>
    <br>
    <h3>{{canvasName}}</h3>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <canvas id="can" width="400" height="400" style="border:2px solid;"></canvas>
            </div>

            <div class="col-2">
                <div>Choose Color</div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm" id="green" onclick="color(this)"></div>
                        <div class="col-sm" id="blue" onclick="color(this)"></div>
                        <div class="col-sm" id="red" onclick="color(this)"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm" id="yellow" onclick="color(this)"></div>
                        <div class="col-sm" id="orange" onclick="color(this)"></div>
                        <div class="col-sm" id="black" onclick="color(this)"></div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div>Eraser</div>
                <br>
                <div style="width:20px;height:20px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
            </div>

            <div class="col-2">
                <form action="/save_draw" method="POST" id="save_form">
                    <input id="dataForm" type="hidden" name="dataURL" value="TBD">
                    <input id="canvasFormID" type="hidden" name="canvasID" value="{{canvasID}}">
                    <button type="submit" form="save_form" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>